doctype html
head
  meta(charset='utf-8')
  link(rel='stylesheet' type='text/css' href='main.css')
  title Webpack App
.sum
h3 Тестовый запрос к JSON серверу
button.btn Запрос
.jsonData
//- script(src='main.js')
